In [5]:
from matplotlib import pyplot as plt
import seaborn as sns
import pandas as pd

In [6]:
df = sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
ax = sns.boxplot(x="day", y="total_bill", data=tips)

NameError: name 'tips' is not defined